<!-- Hero -->
<app-hero-pack
  overtitle="Boostez la vente de votre bien"
  titleOne="Pack Visibilité"
  titleTwo="& Coaching"
  subtitle="Et si vous vendiez votre bien entre particuliers, avec l’appui d’un
  professionnel à vos côtés ?"
  image="immeuble2.jpg"
/>

<!-- Présentation -->
<section class="px-5 py-10 md:p-20 bg-myblue/5 mb-20 md:mb-22">
  <div
    class="flex flex-col items-center justify-center text-myzinc font-jakarta gap-10 md:gap-14 max-w-screen-2xl m-auto"
  >
    <h2 class="font-jakarta text-3xl md:text-5xl font-semibold text-center">
      Votre bien, votre vente, votre réussite !
    </h2>
    <p class="text-xl font-bold font-open">
      Des prestations clés en main pour vendre rapidement en toute autonomie
    </p>
    <div
      class="flex flex-col lg:flex-row items-start justify-start gap-10 max-w-screen-xl m-auto"
    >
      <div class="lg:w-1/3 w-full flex items-center justify-center">
        <img
          src="assets/img/illustration/coaching.png"
          class="max-w-[280px] max-h-[280px]"
          alt="Pack Visibilité & Coaching"
        />
      </div>
      <div
        class="lg:w-2/3 w-full flex flex-col items-start justify-start gap-10 font-light text-lg font-open"
      >
        <p>
          La formule <span class="font-bold">"Coaching"</span> est un service en
          ligne conçu pour les vendeurs qui souhaitent gérer eux-mêmes la vente
          de leur bien, tout en profitant d’un accompagnement professionnel et
          d’une visibilité optimale sur le web.
        </p>
        <p>
          Il s’agit d’un contrat de prestation de service, et non d’un mandat de
          vente. La différence ?
          <span class="font-bold"
            >Barnabé n’intervient pas dans le processus de vente.</span
          >
        </p>
        <p>
          Nous vous accompagnons uniquement en mettant à votre disposition
          <span class="font-bold"
            >notre expertise et nos outils de diffusion.</span
          >
        </p>
      </div>
    </div>
  </div>
</section>

<!-- L'offre -->
<section
  id="formule-coaching"
  class="px-5 md:px-20 max-w-screen-2xl m-auto font-jakarta mb-10 md:mb-28"
>
  <!-- Titre -->
  <app-section-title
    section="Découvrez l'offre"
    title="Ce qui est inclus dans l’offre"
  />

  <div class="flex flex-col items-center justify-center gap-6 mb-20">
    <p class="text-lg font-medium text-mygrey font-jakarta">60 jours</p>
    <p class="text-2xl md:text-4xl font-medium text-myzinc font-jakarta">
      Pack Visibilité & Coaching
    </p>
    <p class="text-5xl font-semibold text-myorange font-open">299 €</p>
  </div>

  <div
    class="grid lg:grid-cols-[min-content_min-content] gap-5 w-auto m-auto place-items-center justify-center"
  >
    <!-- Card 1 -->
    <div
      class="relative rounded-4xl p-10 flex flex-col gap-5 w-full h-auto md:w-[475px] md:h-[500px] bg-myorange/10"
    >
      <div
        (click)="openModal()"
        class="absolute bottom-5 right-5 flex items-center justify-center gap-4 cursor-pointer"
      >
        <p class="text-sm font-open text-mygrey font-medium">
          Voir toutes les plateformes
        </p>
        <img src="assets/img/icon/arrow.png" class="-rotate-45 w-3" alt="" />
      </div>
      <div class="w-full h-[150px] flex items-center justify-center">
        <img
          src="assets/img/illustration/visibility.png"
          class="object-contain h-full w-auto"
          alt="Barnabé - Diffusion Immobilière"
        />
      </div>
      <div class="">
        <p class="text-2xl text-myzinc font-semibold font-jakarta mb-5">
          Visibilité digitale
        </p>
        <p class="text-lg text-mygrey font-medium font-open mb-2">
          Diffusion de votre annonce sur plus de
          <span class="font-bold text-myzinc"
            >50 plateformes de références</span
          >
          réservées aux pros comme :
        </p>
        <div class="flex items-center justify-start gap-5">
          <img
            src="assets/img/logo-partners/logic.png"
            class="w-[75px]"
            alt=""
          />
          <img
            src="assets/img/logo-partners/seloger.png"
            class="w-[75px]"
            alt=""
          />
          <img
            src="assets/img/logo-partners/lefigaro.png"
            class="w-[75px]"
            alt=""
          />
        </div>
      </div>
    </div>
    <!-- Card 2 -->
    <div
      class="rounded-4xl p-10 flex flex-col gap-5 w-full h-auto md:w-[475px] md:h-[500px] bg-myblue/5"
    >
      <div class="w-full h-[150px] flex items-center justify-center">
        <img
          src="assets/img/illustration/contact.png"
          class="object-contain h-full w-auto"
          alt="Barnabé - Diffusion Immobilière"
        />
      </div>
      <div class="">
        <p class="text-2xl text-myzinc font-semibold font-jakarta mb-5">
          Accompagnement
        </p>
        <p class="text-lg text-mygrey font-medium font-open mb-5">
          Un expert immobilier
          <span class="font-bold text-myzinc">dédié et disponible 6j/7 </span
          >par téléphone ou par mail.
        </p>
        <p class="text-lg text-mygrey font-medium font-open">
          Nous vous accompagnons pendant toute la durée de la formule si vous
          avez la moindre interrogation d’ordre technique, juridique, légal,
          opérationnel.
        </p>
      </div>
    </div>
    <!-- Card 3 -->
    <div
      class="rounded-4xl p-10 flex flex-col gap-5 w-full h-auto md:w-[475px] md:h-[500px] bg-[#F9F9F9]"
    >
      <div class="w-full h-[120px] flex items-center justify-center">
        <img
          src="assets/img/illustration/annonce.png"
          class="object-contain h-full w-auto"
          alt="Barnabé - Diffusion Immobilière"
        />
      </div>
      <div class="flex flex-col items-start justify-start gap-2">
        <p class="text-2xl text-myzinc font-semibold font-jakarta mb-5">
          Annonce optimisée
        </p>
        <p class="text-lg text-mygrey font-medium font-open">
          Estimation de votre bien et rédaction AI de votre annonce en ligne
        </p>
        <p class="text-lg text-mygrey font-medium font-open">
          Points d’intérêts à proximité de votre bien avec CityScan
        </p>
        <p class="text-lg text-mygrey font-medium font-open">
          Modifications illimitées
        </p>
        <p class="text-lg text-mygrey font-medium font-open">
          Remise en tête de liste de votre annonce et boost alerte mail
          hebdomadaire.
        </p>
      </div>
    </div>
    <!-- Card 4 -->
    <div
      class="rounded-4xl p-10 flex flex-col gap-5 w-full h-auto md:w-[475px] md:h-[500px] bg-[#F9F9F9]"
    >
      <div class="w-full h-[150px] flex items-center justify-center">
        <img
          src="assets/img/illustration/payment.png"
          class="object-contain h-full w-auto"
          alt="Barnabé - Diffusion Immobilière"
        />
      </div>
      <div class="">
        <p class="text-2xl text-myzinc font-semibold font-jakarta mb-5">
          Coûts réduits
        </p>
        <div
          class="flex flex-col items-start justify-start gap-2 text-lg text-mygrey font-medium font-open"
        >
          <div class="flex items-center justify-start gap-3">
            <img
              src="assets/img/logo/klarna.png"
              class="w-10"
              alt="klarna - paiement en 3x"
            />
            <p>Paiement en 3x avec Klarna</p>
          </div>
          <p>
            Paiement unique et immédiat, sans commission. Vous économisez + de
            15 000 € !
          </p>
          <p>Renouvellement +30 jours pour 99 €</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Les Options de Diffusion -->
<section
  id="options"
  class="px-5 md:px-20 max-w-screen-2xl m-auto font-jakarta text-myzinc mb-10 md:mb-28"
>
  <div class="mb-10">
    <p
      class="md:w-2/3 text-2xl md:text-[40px] font-jakarta font-semibold leading-snug mb-5"
    >
      Nos options de diffusion
    </p>
    <p class="text-xl md:text-2xl font-medium font-open mt-6 md:mt-10">
      Besoin d’une vente express ? Nos options font la différence !
      <span
        ><img
          src="assets/img/icon/color-rocket.png"
          class="inline w-7 ml-3"
          alt=""
        />
      </span>
    </p>
  </div>

  <div
    class="grid sm:grid-cols-[repeat(2,min-content)] lg:grid-cols-[repeat(4,min-content)] gap-5 xl:gap-10 place-items-center justify-center"
  >
    <!-- option 1 -->
    <div
      (click)="openOptionDialog(1)"
      class="rounded-xl border border-zinc-300 w-[250px] cursor-pointer transition hover:-translate-y-2 duration-300 hover:shadow-md overflow-hidden"
    >
      <div class="relative py-10 px-5 h-[140px]">
        <img
          src="assets/img/icon/arrow.png"
          class="w-5 -rotate-45 absolute top-3 right-3"
          alt=""
        />
        <p
          class="font-open text-lg font-semibold text-mygrey pr-10 lg:pr-0 xl:pr-10"
        >
          Diffusion sur Belles Demeures et Lux-Résidence
        </p>
      </div>
      <div
        class="relative flex flex-col items-center justify-center gap-2 p-5 h-[215px]"
      >
        <img
          ngSrc="assets/img/photo/lux.jpg"
          fill
          class="object-cover w-full h-full"
        />
        <div class="absolute inset-0 w-full h-wull bg-white/80"></div>
        <img
          src="assets/img/logo-partners/lux.png"
          class="z-20 w-[150px]"
          alt="Lux Résidence"
        />
        <img
          src="assets/img/logo-partners/belles.png"
          class="z-20 w-[150px]"
          alt="Belles Demeures"
        />
      </div>
    </div>
    <!-- option 2 -->
    <div
      (click)="openOptionDialog(2)"
      class="rounded-xl border border-zinc-300 w-[250px] cursor-pointer transition hover:-translate-y-2 duration-300 hover:shadow-md overflow-hidden"
    >
      <div class="relative py-10 px-5 h-[140px]">
        <img
          src="assets/img/icon/arrow.png"
          class="w-5 -rotate-45 absolute top-3 right-3"
          alt=""
        />
        <p
          class="font-open text-lg font-semibold text-mygrey pr-10 lg:pr-0 xl:pr-10"
        >
          Diffusion sur l’agrégateur Jinka
        </p>
      </div>
      <div class="relative flex items-center justify-center p-5 h-[215px]">
        <img
          ngSrc="assets/img/photo/jinka.png"
          fill
          class="object-cover w-full h-full"
        />
        <div class="absolute inset-0 w-full h-wull bg-white/80"></div>
        <img
          src="assets/img/logo-partners/jinka.png"
          class="z-20 w-[210px]"
          alt="Jinka"
        />
      </div>
    </div>
    <!-- option 3 -->
    <div
      (click)="openOptionDialog(3)"
      class="rounded-xl border border-zinc-300 w-[250px] cursor-pointer transition hover:-translate-y-2 duration-300 hover:shadow-md overflow-hidden"
    >
      <div class="relative py-10 px-5 h-[140px]">
        <img
          src="assets/img/icon/arrow.png"
          class="w-5 -rotate-45 absolute top-3 right-3"
          alt=""
        />
        <p
          class="font-open text-lg font-semibold text-mygrey pr-10 lg:pr-0 xl:pr-10"
        >
          Diffusion sur la plateforme Gens de confiance
        </p>
      </div>
      <div class="relative flex items-center justify-center p-5 h-[215px]">
        <img
          ngSrc="assets/img/photo/gens.png"
          fill
          class="object-cover w-full h-full"
        />
        <div class="absolute inset-0 w-full h-wull bg-white/80"></div>
        <img
          src="assets/img/logo-partners/gens.png"
          class="z-20 w-[210px]"
          alt="Jinka"
        />
      </div>
    </div>
    <!-- option 4 -->
    <div
      (click)="openOptionDialog(4)"
      class="rounded-xl border border-zinc-300 w-[250px] cursor-pointer transition hover:-translate-y-2 duration-300 hover:shadow-md overflow-hidden"
    >
      <div class="relative py-10 px-5 h-[140px]">
        <img
          src="assets/img/icon/arrow.png"
          class="w-5 -rotate-45 absolute top-3 right-3"
          alt=""
        />
        <p
          class="font-open text-lg font-semibold text-mygrey pr-10 lg:pr-0 xl:pr-10"
        >
          Diffusion internationale sur Green-Acres
        </p>
      </div>
      <div class="relative flex items-center justify-center p-5 h-[215px]">
        <img
          ngSrc="assets/img/photo/green.jpeg"
          fill
          class="object-cover w-full h-full"
        />
        <div class="absolute inset-0 w-full h-wull bg-white/80"></div>
        <img
          src="assets/img/logo-partners/green.png"
          class="z-20 w-[210px]"
          alt="Jinka"
        />
      </div>
    </div>
  </div>
</section>

<!-- Services Exclusifs -->
<section
  id="services"
  class="px-5 md:px-20 max-w-screen-2xl m-auto font-jakarta text-myzinc mb-10 md:mb-28"
>
  <div class="mb-10 md:mb-20">
    <p
      class="md:w-2/3 text-2xl md:text-[40px] font-jakarta font-semibold leading-snug"
    >
      Nos services exclusifs
    </p>
    <p class="text-xl md:text-2xl font-medium font-open mt-6 md:mt-10">
      Mettez toutes les chances de votre côté pour réussir votre vente.
    </p>
  </div>
  <!-- Reportage photo -->
  <a
    routerLink="/pack-reportage-photo-visite3D"
    class="flex flex-col md:flex-row items-center w-[350px] md:w-[700px] m-auto justify-center rounded-xl border border-zinc-300 cursor-pointer transition hover:-translate-y-2 duration-300 hover:shadow-md overflow-hidden"
  >
    <div class="relative h-[300px] w-[350px]">
      <img
        fill
        ngSrc="assets/img/photo/reportage.png"
        class="object-cover h-full w-full"
        alt="Reportage photos profesionnelles"
      />
    </div>
    <div
      class="relative flex flex-col items-center justify-center gap-2 p-10 h-[300px] w-[350px] font-open font-semibold text-mygrey text-xl"
    >
      <img
        src="assets/img/icon/arrow.png"
        class="w-5 -rotate-45 absolute top-3 right-3"
        alt=""
      />
      <p class="text-center">Reportage photo profesionnel</p>
      <p>+</p>
      <p>Vidéo visite 3D</p>
      <p class="italic font-light text-xs mt-5">
        Valable en Ile de France uniqement
      </p>
    </div>
  </a>
</section>

<!-- Comment ça marche -->
<section
  id="comment"
  class="px-5 md:px-20 max-w-screen-xl m-auto font-jakarta mb-10 md:mb-28"
>
  <!-- Titre -->
  <app-section-title title="Comment ça marche ?" />

  <div
    class="rounded-4xl border border-zinc-300 p-5 md:p-10 flex flex-col lg:flex-row gap-10 lg:gap-20 h-auto items-stretch justify-center"
  >
    <div
      class="w-full h-full lg:w-2/3 flex flex-col items-start justify-start gap-8"
    >
      <!-- etape 1 -->
      <div class="flex items-start justify-start gap-5">
        <span
          class="min-w-10 min-h-10 bg-myblue rounded-full flex items-center justify-center font-open font-semibold text-3xl text-white"
          >1</span
        >
        <div class="flex flex-col items-start justify-start gap-4 font-open">
          <p class="font-semibold text-2xl text-myzinc">
            Je dépose mon annonce
          </p>
          <p class="text-lg font-normal text-mygrey">
            Dans mon espace personnel, J’enregistre mon texte de description,
            les caractéristiques de mon bien, mes photos et je procède au
            paiement.
          </p>
        </div>
      </div>
      <!-- etape 2 -->
      <div class="flex items-start justify-start gap-5">
        <span
          class="min-w-10 min-h-10 bg-myblue rounded-full flex items-center justify-center font-open font-semibold text-3xl text-white"
          >2</span
        >
        <div class="flex flex-col items-start justify-start gap-4 font-open">
          <p class="font-semibold text-2xl text-myzinc">
            Ensemble, nous validons votre projet
          </p>
          <p class="text-lg font-normal text-mygrey">
            Je suis rappelé pour optimiser la rédaction de mon annonce, recevoir
            une estimation en ligne et réfléchir à la meilleure stratégie de
            vente.
          </p>
        </div>
      </div>
      <!-- etape 3 -->
      <div class="flex items-start justify-start gap-5">
        <span
          class="min-w-10 min-h-10 bg-myblue rounded-full flex items-center justify-center font-open font-semibold text-3xl text-white"
          >3</span
        >
        <div class="flex flex-col items-start justify-start gap-4 font-open">
          <p class="font-semibold text-2xl text-myzinc">
            Je réalise mes visites
          </p>
          <p class="text-lg font-normal text-mygrey">
            Je reçois les demandes de visite, je les organise et je présente mon
            bien aux acheteurs intéressés.
          </p>
        </div>
      </div>
      <!-- etape 4 -->
      <div class="flex items-start justify-start gap-5">
        <span
          class="min-w-10 min-h-10 bg-myblue rounded-full flex items-center justify-center font-open font-semibold text-3xl text-white"
          >4</span
        >
        <div class="flex flex-col items-start justify-start gap-4 font-open">
          <p class="font-semibold text-2xl text-myzinc">
            Accompagné, je vends en toute confiance
          </p>
          <p class="text-lg font-normal text-mygrey">
            Un conseiller dédié spécialiste en immobilier disponible 6j/7 vous
            accompagne pendant toute la durée de votre formule.
          </p>
        </div>
      </div>
    </div>
    <div
      class="w-full h-auto self-stretch lg:w-1/3 flex flex-col items-center justify-center gap-10 bg-myblue/5 rounded-4xl p-10"
    >
      <img
        src="assets/img/illustration/task-list.png"
        class="max-w-[250px] h-auto"
        alt="Comment ça marche"
      />
      <a
        routerLink="/https://app.barnabe-immo.fr/register"
        target="_blank"
        class="text-white bg-myorange text-center rounded-full px-6 py-3 hover:bg-orange-500 transition-all transition-300"
        >Déposer mon annonce</a
      >
    </div>
  </div>
</section>

<!-- Derniers biens vendus -->
<section
  id="biens"
  class="px-5 md:px-20 max-w-screen-2xl m-auto font-open mb-20 md:mb-36"
>
  <!-- Titre -->
  <app-section-title
    title="Les derniers biens vendus avec"
    nextTitle=" "
    subtitle="Ils nous ont fait confiance"
    link="/annonces"
    button="Voir tous les biens"
  />
  <div
    class="grid lg:grid-cols-3 gap-10 place-items-center max-w-screen-xl m-auto"
  >
    <div
      class="relative h-[435px] w-[325px] bg-[url('assets/img/photo/bien1.jpeg')] bg-cover bg-center rounded-4xl overflow-hidden"
    >
      <a
        routerLink="/annonces"
        class="absolute top-5 right-5 w-10 h-10 rounded-full bg-white flex items-center justify-center"
      >
        <img src="assets/img/icon/arrow.png" class="w-5 -rotate-45" />
      </a>
      <div
        class="z-10 absolute bottom-0 w-full bg-white/70 backdrop-blur-sm h-auto text-black font-open p-5"
      >
        <div class="flex items-center justify-between mb-2">
          <p class="text-zinc-600">Appartement</p>
          <p class="text-xl font-bold">460 000 €</p>
        </div>
        <p class="font-bold text-lg">Paris</p>
        <p class="text-zinc-700">75004</p>
        <div class="flex items-center justify-start gap-5 text-zinc-700">
          <p>40 m²</p>
          <p>2 pièces</p>
        </div>
      </div>
    </div>
    <div
      class="relative h-[435px] w-[325px] bg-[url('assets/img/photo/bien2.jpg')] bg-cover bg-center rounded-4xl overflow-hidden"
    >
      <a
        routerLink="/annonces"
        class="absolute top-5 right-5 w-10 h-10 rounded-full bg-white flex items-center justify-center"
      >
        <img src="assets/img/icon/arrow.png" class="w-5 -rotate-45" />
      </a>
      <div
        class="z-10 absolute bottom-0 w-full bg-white/70 backdrop-blur-sm h-auto text-black font-open p-5"
      >
        <div class="flex items-center justify-between mb-2">
          <p class="text-zinc-600">Appartement</p>
          <p class="text-xl font-bold">380 000 €</p>
        </div>
        <p class="font-bold text-lg">Lyon</p>
        <p class="text-zinc-700">69000</p>
        <div class="flex items-center justify-start gap-5 text-zinc-700">
          <p>75 m²</p>
          <p>3 pièces</p>
        </div>
      </div>
    </div>
    <div
      class="relative h-[435px] w-[325px] bg-[url('assets/img/photo/bien3.jpg')] bg-cover bg-center rounded-4xl overflow-hidden"
    >
      <a
        routerLink="/annonces"
        class="absolute top-5 right-5 w-10 h-10 rounded-full bg-white flex items-center justify-center"
      >
        <img src="assets/img/icon/arrow.png" class="w-5 -rotate-45" />
      </a>
      <div
        class="z-10 absolute bottom-0 w-full bg-white/70 backdrop-blur-sm h-auto text-black font-open p-5"
      >
        <div class="flex items-center justify-between mb-2">
          <p class="text-zinc-600">Appartement</p>
          <p class="text-xl font-bold">520 000 €</p>
        </div>
        <p class="font-bold text-lg">Toulouse</p>
        <p class="text-zinc-700">31000</p>
        <div class="flex items-center justify-start gap-5 text-zinc-700">
          <p>120 m²</p>
          <p>4 pièces</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Les avis de nos clients -->
<section
  id="reviews"
  class="px-5 md:px-20 max-w-screen-2xl m-auto font-open mb-20 md:mb-36"
>
  <app-section-title title="Nos clients sont satisfaits !" />
  <app-reviews />
</section>

<!-- Qui sommes nous ? -->
<section
  id="who"
  class="px-5 md:px-20 max-w-screen-2xl m-auto font-open mb-20 md:mb-36"
>
  <app-section-title
    title="Qui sommes nous ?"
    subtitle="Barnabé vous coache et vous accompagne dans votre vente immobilière en ligne"
  />

  <div class="grid lg:grid-cols-2 gap-20 mt-20">
    <div class="relative flex-col flex items-center justify-center gap-5">
      <div
        class="w-full h-3/4 rounded-3xl bg-myblue/10 absolute -top-10 -left-10"
      ></div>
      <!-- <div
        class="w-full h-3/4 rounded-3xl bg-myorange/10 absolute bottom-10 -right-10"
      ></div> -->
      <video
        [src]="'assets/video/' + videos[displayVideo].src"
        class="z-10 h-full rounded-xl aspect-video w-full"
        controls
        frameborder="0"
        loading="lazy"
        allowFullScreen
      ></video>
      <div class="bg-zinc-200 h-[2px] w-1/2 self-start">
        <div
          [ngStyle]="{ width: progressBarWidth + '%' }"
          class="bg-myorange h-[2px]"
        ></div>
      </div>
      <div class="flex items-center w-full justify-between gap-10">
        <div class="flex items-start justify-center gap-2">
          <p [innerHTML]="videos[displayVideo].title" class="text-lg text-zinc-500 font-light">
          </p>
        </div>
        <div class="flex items-center justify-center gap-4">
          <button
            (click)="previousVideo()"
            class="h-[50px] w-[50px] rounded-full bg-myorange/10 flex items-center justify-center transition duration-300 hover:bg-myorange/15"
          >
            <img class="w-5 rotate-180" src="assets/img/icon/arrow.png" alt="" />
          </button>
          <button
            (click)="nextVideo()"
            class="h-[50px] w-[50px] rounded-full bg-myorange/10 flex items-center justify-center transition duration-300 hover:bg-myorange/15"
          >
            <img class="w-5" src="assets/img/icon/arrow.png" alt="" />
          </button>
        </div>
      </div>

    </div>
    <div
      class="flex flex-col gap-10 justify-start items-start font-open text-myzinc"
    >
      <div
        class="relative w-full flex flex-col items-end justify-end text-xl gap-2"
      >
        <p class="font-bold">Victor Plessis</p>
        <p class="font-light text-mygrey">CEO & Co-fondateur</p>
        <hr class="absolute border-none h-[1px] bg-zinc-300 w-full -bottom-2" />
      </div>
      <div class="w-full flex items-start gap-2 font-normal"></div>
      <p class="text-justify text-lg">
        Barnabé, votre coach immobilier, vous accompagne de l’estimation de
        votre bien aux visites de vos futurs acheteurs : l’idéal pour une vente
        immobilière autonome et indépendante, sans frais annexes.
      </p>
      <p class="text-justify text-lg">
        Barnabé valide votre estimation en ligne, diffuse votre annonce sur les
        plus grandes plateformes de vente et répond à vos questions 6 jours sur
        7.
      </p>
    </div>
  </div>
</section>

<!-- FAQ -->
<section
  id="faq"
  class="px-2 md:px-10 max-w-screen-2xl m-auto font-open mb-20 md:mb-28 text-myzinc"
>
  <app-faq />
</section>

<!-- Modal -->
<app-partners-dialog partnerVisibility="pack-coaching" />
<app-option-dialog />
