<div class="bg-zinc-50 pb-20">
  <app-progress-bar [step]="3" />

  <section class="px-5 md:px-20 max-w-screen-lg m-auto">
    <div class="grid place-items-center items-start">
      <form
        [formGroup]="characteristicsForm"
        class="w-full p-10 md:p-14 flex-1 border rounded-3xl border-zinc-300 bg-white flex flex-col gap-5 items-start justify-center font-open text-myzinc"
      >
        <h1 class="self-center font-jakarta text-xl font-bold mb-4">
          Quelles sont les caractéristiques du bien ?
        </h1>

        <div
          class="flex flex-col items-center justify-start gap-5 m-auto w-full md:w-3/4"
        >
          <div class="flex flex-col gap-2 items-start justify-center w-full">
            <p>Surface du bien*</p>
            <div class="relative flex w-full">
              <input
                formControlName="living_space"
                type="number"
                name=""
                class="z-10 bg-zinc-100 border-none rounded-md w-full p-2.5 focus:ring-1 focus:ring-myzinc focus:outline-none placeholder:text-zinc-400"
                placeholder="70"
              />
              <span
                class="z-10 absolute text-zinc-600 right-6 top-3 font-semibold text-sm"
                >m²</span
              >
            </div>
          </div>
          <div class="flex flex-col gap-2 items-start justify-center w-full">
            <p>Surface du terrain*</p>
            <div class="relative flex w-full">
              <input
                formControlName="living_space"
                type="land_area"
                name=""
                class="z-10 bg-zinc-100 border-none rounded-md w-full p-2.5 focus:ring-1 focus:ring-myzinc focus:outline-none placeholder:text-zinc-400"
                placeholder="70"
              />
              <span
                class="z-10 absolute text-zinc-600 right-6 top-3 font-semibold text-sm"
                >m²</span
              >
            </div>
          </div>
          <div class="flex flex-col gap-2 items-start justify-center w-full">
            <p>Nombre d'étages du bien</p>
            <select
              formControlName="total_floor"
              type="select"
              class="z-10 bg-zinc-100 border-none rounded-md w-full p-2.5 focus:ring-1 focus:ring-myzinc focus:outline-none placeholder:text-zinc-400"
             placeholder="1"
              >
              <option value="0">Plain pied</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
            </select>
          </div>
          <div
            *ngIf="estateTypeForm.get('property_type')?.value === 'apartment'"
            class="flex flex-col gap-2 items-start justify-center w-full"
          >
            <p>Etage de l'appartement</p>
            <select
              formControlName="floor"
              type="select"
              class="z-10 bg-zinc-100 border-none rounded-md w-full p-2.5 focus:ring-1 focus:ring-myzinc focus:outline-none placeholder:text-zinc-400"
            >
              <option value="0">Plein pied</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
            </select>
          </div>
          <div class="flex flex-col gap-2 items-start justify-center w-full">
            <p>Nombre de pièces</p>
            <select
              formControlName="room"
              type="select"
              class="z-10 bg-zinc-100 border-none rounded-md w-full p-2.5 focus:ring-1 focus:ring-myzinc focus:outline-none placeholder:text-zinc-400"
            >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="8">9</option>
              <option value="8">10</option>
              <option value="8">11</option>
            </select>
          </div>
          <div class="flex flex-col gap-2 items-start justify-center w-full">
            <p>Nombre de chambres</p>
            <select
              formControlName="bedroom"
              type="select"
              class="z-10 bg-zinc-100 border-none rounded-md w-full p-2.5 focus:ring-1 focus:ring-myzinc focus:outline-none placeholder:text-zinc-400"
            >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="8">9</option>
              <option value="8">10</option>
              <option value="8">11</option>
            </select>
          </div>
          <div class="flex flex-col gap-2 items-start justify-center w-full">
            <p>Période de construction</p>
            <select
              formControlName="construction_period"
              type="select"
              class="z-10 bg-zinc-100 border-none rounded-md w-full p-2.5 focus:ring-1 focus:ring-myzinc focus:outline-none placeholder:text-zinc-400"
            >
              <option value="-1850">avant 1850</option>
              <option value="1850-1913">de 1850 à 1913</option>
              <option value="1914-1947">de 1914 à 1947</option>
              <option value="1948-1969">de 1948 à 1969</option>
              <option value="1970-1980">de 1970 à 1980</option>
              <option value="1981-1991">de 1981 à 1991</option>
              <option value="1992-2000">de 1992 à 2000</option>
              <option value="2000-2010">de 2000 à 2010</option>
              <option value="+2010">après 2010</option>
              <option value="neuf">neuf</option>
            </select>
          </div>
          <div class="flex flex-col gap-2 items-start justify-center w-full">
            <p>Etat général du bien</p>
            <select
              formControlName="general_condition"
              type="select"
              class="z-10 bg-zinc-100 border-none rounded-md w-full p-2.5 focus:ring-1 focus:ring-myzinc focus:outline-none placeholder:text-zinc-400"
            >
              <option value="new_or_recently_renovated">neuf ou rénové</option>
              <option value="well_maintained">bon état</option>
              <option value="renovation_needed">à rénover</option>
            </select>
          </div>
        </div>
      </form>
    </div>

    <div class="flex items-center justify-center gap-20 py-10 md:py-20">
      <a
        routerLink="/estimation-immobiliere-gratuite-en-ligne"
        class="flex items-center justify-center border text-myzinc border-myzinc gap-5 rounded-full w-[200px] py-2.5 text-lg hover-bg-myzinc-100 duration-300 transition"
      >
        <img src="assets/img/icon/arrow.png" class="w-5 h-auto -rotate-180" />
        <p class="">Retour</p>
      </a>
      <a
        routerLink="/estimation-immobiliere-gratuite-en-ligne/characteristics"
        class="text-white bg-myorange text-center rounded-full py-3 w-[200px] hover:bg-orange-500 transition-all transition-300"
        >Continuer</a
      >
    </div>
  </section>
</div>
