<!-- Hero -->
<app-hero-pack
  overtitle="Nos outils en ligne"
  titleOne="Rédaction de votre"
  titleTwo="annonce immobilière"
  subtitle="Recevez gratuitement et immédiatement une annonce professionnelle rédigée à la perfection"
  image="home2.jpg"
  bgColor="bg-white"
  textColor="text-myzinc"
/>

<!-- Présentation -->
<section class="px-5 py-10 md:p-20 mb-20">
  <div
    class="flex flex-col items-center justify-center text-myzinc font-jakarta gap-10 md:gap-14 max-w-screen-xl m-auto"
  >
    <h2
      class="max-w-screen-md md:leading-snug m-auto font-jakarta text-3xl md:text-5xl font-semibold text-center"
    >
      Une annonce pro, générée en quelques clics
    </h2>

    <img
      class="w-20 h-auto my-2"
      src="assets/img/icon/color-redaction.png"
      alt="Rédaction de votre annonce immobilière"
    />
    <p class="text-lg font-normal font-open max-w-screen-lg m-auto text-justify">
      Vous souhaitez vendre votre maison ou votre appartement ? La première
      étape clé, c’est une annonce immobilière claire, accrocheuse et bien
      rédigée. Grâce à notre outil gratuit, obtenez en quelques clics une
      annonce professionnelle, conçue pour capter l’attention des acheteurs et
      mettre en valeur les atouts de votre bien. Remplissez simplement le
      formulaire et recevez instantanément votre texte prêt à être publié.
    </p>

    <a
      routerLink="/redaction-annonce-immobiliere/address"
      class="text-white bg-myorange text-center rounded-full px-6 py-3 hover:bg-orange-500 transition-all transition-300"
      >Commencer la rédaction</a
    >
  </div>
</section>
