<div class="min-h-screen bg-zinc-50 flex flex-col items-center font-open">
  <!-- Hero -->
  <div
    class="relative h-[350px] w-full bg-myblue  text-white px-8 flex flex-col items-center justify-center overflow-x-hidden"
  >
    <h1 class="z-10 text-4xl font-paytone text-center max-w-[600px] mb-12">
      Mentions légales et conditions générales d'utilisation
    </h1>
    <p class="z-10 text-lg md:text-xl leading-relaxed md:w-3/4 text-center">
      Dernière mise à jour: Mars 2025
    </p>
  </div>

  <div
    class="bg-zinc-50 text-mygrey w-4/5 flex flex-col items-start font-open leading-relaxed mb-20"
  >
    <h2 class="text-2xl text-myzinc font-bold font-raleway text-center py-10">
      1. Inscription
    </h2>
    <p>
      L’inscription au site est ouverte à toutes les personnes morales ou
      physiques majeures et jouissant de leurs pleines personnalités et
      capacités juridiques. <br />
      L’utilisation des services proposés sur le site est conditionnée à
      l’inscription de l’utilisateur sur le site. L’inscription est
      gratuite.<br />
      Pour procéder à l’inscription, l’utilisateur-ce doit remplir tous les
      champs obligatoires ; à défaut l’inscription ne pourra être
      complétée.<br />
      Les utilisateurs garantissent et déclarent sur l'honneur que toutes
      les informations communiquées sur le site, notamment lors de leur
      inscription, sont exactes et conformes à la réalité. Ils s’engagent à
      mettre à jour leurs informations personnelles à partir de la page
      dédiée à ces dernières et disponible dans leur compte.<br />
      Tout utilisateur enregistré dispose d’un identifiant et d’un mot de
      passe. <br />Ces derniers sont strictement personnels et confidentiels
      et ne devront en aucun cas faire l’objet d’une communication à des
      tiers sous peine de suppression du compte de l’utilisateur enregistré
      contrevenant.<br />
      Chaque utilisateur inscrit est personnellement responsable du maintien
      de la confidentialité de son identifiant et de son mot de passe.<br />
      La société BARNABÉ ne sera en aucun cas tenue pour responsable de
      l’usurpation d’identité d’un utilisateur.<br />
      Si un utilisateur suspecte une fraude à n’importe quel moment, il
      devra contacter la société dans les plus brefs délais afin que cette
      dernière puisse prendre les mesures nécessaires et régulariser la
      situation.<br />
      Chaque utilisateur, qu’il soit une personne morale ou physique, ne
      peut être titulaire que d’un compte sur le site.<br />
      En cas de non-respect des CGS/CGU, notamment la création de plusieurs
      comptes pour une seule personne ou encore la fourniture de fausses
      informations, la société se réserve le droit de procéder à la
      suppression temporaire ou définitive de tous les comptes créés par
      l’utilisateur enregistré contrevenant.<br />
      La suppression du compte entraîne la perte définitive de tous les
      avantages et services acquis sur le site. <br />
      Cependant, toute commande réalisée et facturée par le site avant la
      suppression du compte sera exécutée dans les conditions normales.<br />
      En cas de suppression d’un compte par la société pour manquement aux
      devoirs et obligations énoncées dans les CGS/CGU, il est formellement
      interdit à l’utilisateur contrevenant de se réinscrire sur le site
      directement, par le biais d’une autre adresse électronique ou par
      personne interposée sans l’autorisation expresse de la société.<br />
    </p>

    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-myzinc font-bold font-raleway text-center mb-10">
      2. Prestation de service et prix
    </h2>
    <p>
      Les services faisant l’objet des CGS/CGU sont ceux qui figurent sur le
      site et qui sont proposés directement par la société BARNABÉ ou ses
      prestataires partenaires.<br />
      Les services sont décrits sur la page correspondante au sein du site
      et mention est faite de toutes leurs caractéristiques essentielles.<br />
      La Société ne peut être tenue responsable de l’impossibilité de
      réaliser ladite prestation lorsque l’utilisateur-ce n’est pas
      éligible.<br />
      Lorsqu’un utilisateur enregistré souhaite obtenir une prestation de
      service vendue par la société à travers le site, le prix indiqué sur
      la page de la prestation correspond au prix en euros toutes taxes
      comprises (TTC) et tient compte des réductions applicables et en
      vigueur le jour de la commande. <br />
      Le prix indiqué n’inclut pas les frais accessoires qui seront indiqués
      le cas échéant dans le récapitulatif avant de passer commande. <br />
      La société se réserve la possibilité de modifier à tout moment ses
      tarifs. Elle s'engage à facturer les prestations au tarif applicable
      au moment de la signature du contrat de prestation de service.<br />
      En aucun cas un utilisateur ne pourra exiger l’application de
      réductions n’étant plus en vigueur le jour de la signature du contrat.
    </p>

    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-myzinc font-bold font-raleway text-center mb-10">
      3. Détails et modalités de paiement
    </h2>

    <p>
      La société BARNABÉ propose plusieurs forfaits de prestations de
      services, chacun étant spécifiquement rattaché à un bien unique sans
      possibilité de changement une fois souscrit :<br />
      La formule pour les particuliers (coaching) : Coaching vente à 299 €
      TTC pour 60 jours. Cette formule est une prestation de service à
      paiement comptant immédiat.<br />
      Il est ensuite possible de renouveler son annonce pour 30 jours
      supplémentaire à 99 € TTC.<br />

      La formule pour les professionnels (pack visibilité) : Pack visibilité
      à 99 € TTC pour 60 jours. Cette formule est une prestation de service
      à paiement comptant immédiat.<br />
      Il est ensuite possible de renouveler son annonce pour 60 jours
      supplémentaire à 99 € TTC.<br />

      L’ensemble de ces forfaits est valable pour une durée de 60 jours. Le
      paiement se fait à l’issue de la création de votre annonce.

      <br />

      Option reportage photos + Visite 3D: <br />
    </p>
    <ul>
      <li>0 m2 à 49 m2 —> 120 €</li>
      <li>50 m2 à 74 m2 —> 130 €</li>
      <li>75 m2 à 119 m2 —> 140 €</li>
      <li>120 m2 à 159 m2 —> 150 €</li>
      <li>160 m2 à 199 m2 —> 160 €</li>
    </ul>

    <p>
      Option diffusion de votre annonce sur BellesDemeures & Lux-Résidence :
      150 € TTC pour 30 jours ou 200 € TTC pour 60 jours. <br />

      Option diffusion de votre annonce sur Green-Acres : 45 € TTC pour 1
      mois ou 90 € TTC pour 60 jours. <br />

      Votre annonce sera en ligne dans les 24 heures maximum après la
      validation de votre annonce par téléphone avec l’un de nos
      conseillers. <br />
      Le paiement est réalisé directement en ligne sur notre site
      www.barnabe-immo.fr par carte bancaire. Ce paiement est sécurisé.
      <br />
      En cas de non-respect des conditions de paiement décrites ci-dessus,
      la Société se réserve la possibilité d'annuler ou de suspendre la
      vente.
    </p>

    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-myzinc font-bold font-raleway text-center mb-10">
      4. Réalisation des prestations
    </h2>
    <p>
      La prestation de services commandée sur le site sera assurée par :
      <br />
      La société BARNABÉ <br />
      La société s'engage à mettre en œuvre tous les moyens humains et
      matériels pour réaliser la prestation dans les délais annoncés lors de
      la passation de commande de la prestation. Cependant, elle ne peut en
      aucun cas être tenue responsable pour les retards de réalisation de
      prestation occasionnés en raison de fautes qui ne lui sont
      imputables.<br />
      Si la prestation n'a pas été effectuée dans le délai prévu, la
      résolution du contrat pourra être demandée par le client dans les
      conditions prévues aux articles L138-2 et L138-3 du Code de la
      consommation.<br />
      Cette disposition ne s'applique pas quand le retard de la société est
      dû à une faute du client ou à un cas de force majeure, c'est-à-dire à
      la survenance d'un évènement imprévisible, irrésistible et indépendant
      de la volonté de la société.
    </p>

    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-myzinc font-bold font-raleway text-center mb-10">
      5. Droit de rétractation et Réclamation
    </h2>
    <p>
      Pour toutes les commandes de prestation de service réalisées sur le
      présent site www.barnabe-immo.fr, le client renonce à son droit de
      rétractation de 14 jours d'après l'article L121-21-8 du Code de la
      consommation tel que reproduit ci-dessous : "Le droit de rétractation
      ne peut être exercé pour les contrats : <br />
      De fourniture de services pleinement exécutés avant la fin du délai de
      rétractation et dont l'exécution a commencé après accord préalable
      exprès du consommateur et renoncement exprès à son droit de
      rétractation;<br />
      De fourniture de biens ou de services dont le prix dépend de
      fluctuations sur le marché financier échappant au contrôle du
      professionnel et susceptibles de se produire pendant le délai de
      rétractation;<br />
      De fourniture de biens confectionnés selon les spécifications du
      consommateur ou nettement personnalisés;<br />
      De fourniture de biens susceptibles de se détériorer ou de se périmer
      rapidement;<br />
      De fourniture de biens qui ont été descellés par le consommateur après
      la livraison et qui ne peuvent être renvoyés pour des raisons
      d'hygiène ou de protection de la santé;<br />
      De fourniture de biens qui, après avoir été livrés et de par leur
      nature, sont mélangés de manière indissociable avec d'autres
      articles;<br />
      De fourniture de boissons alcoolisées dont la livraison est différée
      au-delà de trente jours et dont la valeur convenue à la conclusion du
      contrat dépend de fluctuations sur le marché échappant au contrôle du
      professionnel;<br />
      De travaux d'entretien ou de réparation à réaliser en urgence au
      domicile du consommateur et expressément sollicités par lui, dans la
      limite des pièces de rechange et travaux strictement nécessaires pour
      répondre à l'urgence;<br />
      De fourniture d'enregistrements audio ou vidéo ou de logiciels
      informatiques lorsqu'ils ont été descellés par le consommateur après
      la livraison;<br />
      De fourniture d'un journal, d'un périodique ou d'un magazine, sauf
      pour les contrats d'abonnement à ces publications;<br />
      Conclus lors d'une enchère publique;<br />
      De prestations de services d'hébergement, autres que d'hébergement
      résidentiel, de services de transport de biens, de locations de
      voitures, de restauration ou d'activités de loisirs qui doivent être
      fournis à une date ou à une période déterminée;<br />
      De fourniture d'un contenu numérique non fourni sur un support
      matériel dont l'exécution a commencé après accord préalable exprès du
      consommateur et renoncement exprès à son droit de rétractation."<br />
    </p>
    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-myzinc font-bold font-raleway text-center mb-10">
      6. Modifications
    </h2>
    <p>
      La société se réserve le droit de modifier le site, les services qui y
      sont proposés, les CGS/CGU ainsi que toute procédure de livraison ou
      autre élément constitutif des prestations réalisées par la société par
      le biais du site. Lorsqu'il passe une commande de prestation,
      l'utilisateur est soumis aux stipulations énoncées par les CGS/CGU en
      vigueur lors de la passation de commande de la prestation.
    </p>
    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-myzinc font-bold font-raleway text-center mb-10">
      7. Responsabilités
    </h2>
    <p>
      La Société ne peut en aucun cas être tenue responsable pour
      l’indisponibilité, qu’elle soit temporaire ou permanente du site
      internet www.barnabe-immo.fr et, bien qu’elle mette en œuvre tous les
      moyens afin d’assurer en permanence le service, il se peut que
      celui-ci soit interrompu à tout moment. En outre, la société se
      réserve le droit, par un acte volontaire, de rendre le site
      indisponible afin de réaliser toute opération de mise à jour,
      d’amélioration ou de maintenance.<br />
      Tel que mentionné auparavant dans les présentes, la société ne peut en
      aucun cas être tenue responsable des retards de réalisation d’une
      prestation de service pour des motifs qui échappent à son contrôle,
      indépendants de sa volonté, imprévisibles et irrésistibles ou dont la
      faute ne peut lui être imputable.
    </p>
    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-myzinc font-bold font-raleway text-center mb-10">
      8. Clause attributive de compétences
    </h2>
    <p>
      Le droit régissant les CGS/CGU est le droit français. Tout litige
      pouvant survenir entre la société et un utilisateur lors de
      l’exécution des présentes fera l’objet d’une tentative de résolution à
      l’amiable. A défaut, les litiges seront portés à la connaissance des
      tribunaux compétents de droit commun. Le client est informé qu'il peut
      recourir à une médiation conventionnelle, auprès de la commission de
      la médiation de la consommation prévue à l'article L534-7 du Code de
      la consommation ou auprès des instances de médiation sectorielles
      existantes. Il peut également recourir à tout mode alternatif de
      règlement des différends en cas de litige.
    </p>
    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-myzinc font-bold font-raleway text-center mb-10">
      9. Définitions
    </h2>
    <p>
      "Client" désigne toute personne physique ou morale qui passe une
      commande sur le présent site www.barnabe-immo.fr ;<br />
      "Commande" désigne toute commande de prestation passée par
      l’utilisateur inscrit sur le présent site, en vue de bénéficier des
      services de la Société Barnabé ;<br />
      "Conditions Générales de Vente et d'utilisation" ou "CGS/CGU"
      désignent les présentes conditions générales de vente et d'utilisation
      en ligne ;<br />
      "Consommateur" désigne l'acheteur personne physique qui n'agit pas
      pour des besoins professionnels et/ ou hors de son activité
      professionnelle ;<br />
      "Professionnel" désigne l'acheteur personne morale ou physique qui
      agit dans le cadre de son activité professionnelle ;<br />
      "Services" désigne toutes les prestations de service proposées aux
      utilisateurs par la société Barnabé à travers le présent site ;<br />
      "Site" désigne le présent site, c’est-à-dire
      https://www.barnabe-immo.fr ;<br />
      "Société" désigne la Société BARNABÉ, plus amplement désignée à
      l'article I des présentes ; <br />
      "utilisateur-ce" désigne toute personne qui fait utilisation du site.
    </p>
    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-myzinc font-bold font-raleway text-center mb-10">
      10. Informations précontractuelles
    </h2>
    <p>
      Préalablement à sa commande, le client reconnait avoir eu
      communication, de façon lisible et compréhensible, des CGS/CGU et des
      informations et renseignements prévus aux articles L111-1 à L111-7 du
      Code de la consommation, et notamment :<br />
      les caractéristiques essentielles des services;<br />
      le prix des services;<br />
      la date ou le délai auquel la société s'engage à fournir le
      service;<br />
      les informations relatives à l'identité de la société (coordonnées
      postales, téléphoniques, électroniques);<br />
      les informations relatives aux garanties légales et contractuelles et
      à leurs modalités de mise en œuvre;<br />
      la possibilité de recourir à une médiation conventionnelle en cas de
      litige;<br />
      les informations relatives au droit de rétractation (délai, modalités
      d'exercice).<br />
      La passation d'une commande de prestation de service sur le site
      www.barnabe-immo.fr emporte adhésion et acceptation des CGS/CGU.
      <br />
      Le client ne pourra se prévaloir d'un document contradictoire.
    </p>
    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-myzinc font-bold font-raleway text-center mb-10">
      11. Réglementation relative à la RGPD – collecte des données
    </h2>
    <p>
      Le site www.barnabe-immo.fr assure à l'Utilisateur une collecte et un
      traitement d'informations personnelles dans le respect de la vie
      privée conformément à la loi n°78-17 du 6 janvier 1978 relative à
      l'informatique, aux fichiers et aux libertés.
    </p>
  </div>
</div>
