<div class="flex items-center justify-center gap-20 py-10 md:py-20">
  <a
    (click)="previousStep()"
    class="flex items-center justify-center border text-myzinc border-myzinc gap-5 rounded-full w-[200px] py-2.5 text-lg hover-bg-myzinc-100 duration-300 transition"
  >
    <img src="assets/img/icon/arrow.png" class="w-5 h-auto -rotate-180" />
    <p class="">Retour</p>
  </a>
  <a
    (click)="nextStep()"
    class="cursor-pointer text-white bg-myorange text-center rounded-full py-3 w-[200px] hover:bg-orange-500 transition-all transition-300"
    >Continuer</a
  >
</div>
