<footer
  class="footer rounded-t-xl lg:grid-cols-4 bg-myblue text-white font-open p-10 w-full no-print"
>
  <aside>
    <p class="font-quicksand font-bold text-4xl">
      Barnabé<span class="text-myorange">.</span>
    </p>
    <p>
      60 rue des Tournelles 75003 PARIS <br />
      Numéro SIREN : 890299217 <br />
      <a href="mailto:contact@barnabeimmo.fr">contact&#64;barnabeimmo.fr</a>
    </p>

    <p></p>
    <div class="grid grid-flow-col gap-4">
      <a
        href="https://www.linkedin.com/company/barnabeimmo/"
        target="_blank"
        rel="external"
      >
        <i class="fa-brands fa-linkedin fa-xl"></i>
      </a>
      <a
        href="https://www.instagram.com/barnabeimmo/?hl=fr"
        target="_blank"
        rel="external"
      >
        <i class="fa-brands fa-instagram fa-xl"></i>
      </a>
      <a
        href="https://www.facebook.com/barnabe.immo.fr"
        target="_blank"
        rel="external"
      >
        <i class="fa-brands fa-facebook fa-xl"></i>
      </a>
    </div>
  </aside>
  <div class="text-zinc-200">
    <p class="font-paytone text-white font-bold text-lg">Services</p>
    <a routerLink="/pack-visibilite-coaching">Visibilité & Coaching</a>
    <a routerLink="/pack-visibilite-vente-interactive"
      >Visibilité & Vente Interactive</a
    >
    <a routerLink="/pack-reportage-photo-visite3D"
      >Reportage Photo & Visite 3D</a
    >
    <a routerLink="/estimation-immobiliere-gratuite-en-ligne"
      >Estimation de votre bien</a
    >
    <a routerLink="/redaction-annonce-immobiliere-gratuite-en-ligne"
      >Rédaction de votre annonce</a
    >
  </div>
  <div class="">
    <p class="font-paytone font-bold text-lg">Ressources</p>
    <a routerLink="/guide">Guide du vendeur</a>
    <a
      href="https://calendly.com/barnabe-immo/echange-avec-victor"
      target="_blank"
      rel="external"
      >Prendre rendez-vous</a
    >
    <a href="https://www.app.barnabe-immo.fr" target="_blank" rel="external"
      >Déposer une annonce</a
    >
  </div>
  <div class="">
    <p class="font-paytone font-bold text-lg">Information Légales</p>
    <a routerLink="/protection-des-donnees">Politique de confidentialité</a>
    <a routerLink="/conditions-generales"
      >Mentions légales et Conditions générales de ventes</a
    >
  </div>
</footer>
