<!-- Hero -->
<app-hero-pack
  overtitle="Boostez la vente de votre bien"
  titleOne="Pack Visibilité"
  titleTwo="Vente Interactive"
  subtitle="Les enchères immobilières pour attirer plus d’acheteurs et laisser la
  concurrence fixer le meilleur prix, sans engagement"
  image="immeuble3.jpg"
  bgColor="bg-myorange"
/>

<!-- Présentation -->
<section class="px-5 py-10 md:p-20">
  <div
    class="flex flex-col items-center justify-center text-myzinc font-jakarta gap-10 md:gap-14 max-w-screen-xl m-auto"
  >
    <h2 class="font-jakarta text-3xl md:text-5xl font-semibold text-center">
      Vendez rapidement et au meilleur prix !
    </h2>
    <p class="text-xl font-bold font-open max-w-screen-lg m-auto">
      Grâce à notre solution de Vente Interactive, basée sur le principe des
      ventes aux enchères, maximisez l’attractivité de votre bien en laissant la
      concurrence naturelle fixer le meilleur prix.
    </p>
    <div
      class="grid md:grid-cols-3 gap-5 md:gap-0 place-items-center max-w-screen-lg m-auto"
    >
      <div
        class="flex flex-col items-start justify-start gap-4 h-full text-myzinc md:border-r border-zinc-300 md:pr-10"
      >
        <img src="assets/img/icon/color-search.png" class="w-7" alt="" />
        <p class="font-bold font-jakarta">Trouvez des acheteurs ciblés</p>
        <p class="font-normal font-open">
          Votre bien est mis en ligne et visible par des acheteurs en quête de
          biens comme le votre, prêts à saisir l'opportunité.
        </p>
      </div>
      <div
        class="flex flex-col items-start justify-start gap-4 h-full text-myzinc md:border-r border-zinc-300 md:px-10"
      >
        <img src="assets/img/icon/color-chart.png" class="w-7" alt="" />
        <p class="font-bold font-jakarta">Recevez plusieurs offres</p>
        <p class="font-normal font-open">
          Votre bien est mis en ligne et visible par des acheteurs en quête de
          biens comme le votre, prêts à saisir l'opportunité.
        </p>
      </div>
      <div
        class="flex flex-col items-start justify-start gap-4 h-full text-myzinc md:pl-10"
      >
        <img src="assets/img/icon/color-contract.png" class="w-7" alt="" />
        <p class="font-bold font-jakarta">Aucune obligation de vendre</p>
        <p class="font-normal font-open">
          Choisissez la meilleure offre en toute tranquillité, uniquement si le
          prix final vous satisfait.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Décryptage -->
<section
  class="px-5 md:px-20 font-jakarta mb-10 md:mb-28 bg-myorange/10 py-10 md:py-20"
>
  <div class="grid md:grid-cols-2 gap-5 md:gap-10 max-w-screen-2xl m-auto">
    <div class="md:pl-10">
      <app-section-title
        title="Décryptage des termes clés"
        subtitle="Quelques notions simples pour mieux comprendre le fonctionnement des enchères."
      />
    </div>

    <div class="flex flex-col items-start justify-start gap-10">
      <div class="flex items-start justify-start gap-8">
        <img
          src="assets/img/icon/color-start.png"
          class="w-[50px] h-auto"
          alt=""
        />
        <div
          class="flex flex-col gap-2 items-start justify-start text-myzinc text-lg"
        >
          <p class="font-bold">Prix de départ</p>
          <p class="font-normal">
            C’est le point de départ des enchères et le prix de
            commercialisation. Il fixé avec votre conseiller lors de l’entretien
            téléphonique.
          </p>
        </div>
      </div>
      <div class="flex items-start justify-start gap-8">
        <img
          src="assets/img/icon/color-price.png"
          class="w-[50px] h-auto"
          alt=""
        />
        <div
          class="flex flex-col gap-2 items-start justify-start text-myzinc text-lg"
        >
          <p class="font-bold">Prix de réserve</p>
          <p class="font-normal">
            C’est le prix en dessous du quel le vendeur ne souhaite pas vendre
            son bien.
          </p>
        </div>
      </div>
      <div class="flex items-start justify-start gap-8">
        <img
          src="assets/img/icon/color-auctions.png"
          class="w-[50px] h-auto"
          alt=""
        />
        <div
          class="flex flex-col gap-2 items-start justify-start text-myzinc text-lg"
        >
          <p class="font-bold">Palier de l’enchère</p>
          <p class="font-normal">
            C’est le montant à la hausse ou à la baisse entre chaque offre.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- L'offre -->
<section
  id="formule-coaching"
  class="px-5 md:px-20 max-w-screen-2xl m-auto font-jakarta mb-10 md:mb-28"
>
  <!-- Titre -->
  <app-section-title
    section="Découvrez l'offre"
    title="Ce qui est inclus dans l’offre"
  />

  <div class="flex flex-col items-center justify-center gap-6 mb-20">
    <p class="text-lg font-medium text-mygrey font-jakarta">60 jours</p>
    <p class="text-2xl md:text-4xl font-medium text-myzinc font-jakarta">
      Pack Visibilité & Vente Interactive
    </p>
    <p class="text-5xl font-semibold text-myorange font-open">399 €</p>
  </div>

  <div
    class="flex flex-wrap gap-5 w-auto m-auto place-items-center justify-center"
  >
    <!-- Card 1 -->
    <div
      class="relative rounded-4xl p-10 flex flex-col gap-5 w-full h-auto md:w-[400px] md:h-[540px] bg-myorange/10"
    >
      <div
        (click)="openModal()"
        class="absolute bottom-5 right-5 flex items-center justify-center gap-4 cursor-pointer"
      >
        <p class="text-sm font-open text-mygrey font-medium">
          Voir toutes les plateformes
        </p>
        <img src="assets/img/icon/arrow.png" class="-rotate-45 w-3" alt="" />
      </div>
      <div class="w-full h-[140px] flex items-center justify-center">
        <img
          src="assets/img/illustration/visibility.png"
          class="object-contain h-full w-auto"
          alt="Barnabé - Diffusion Immobilière"
        />
      </div>
      <div class="">
        <p class="text-2xl text-myzinc font-semibold font-jakarta mb-5">
          Visibilité digitale
        </p>
        <p class="text-lg text-mygrey font-medium font-open mb-2">
          Diffusion de votre annonce sur plus de
          <span class="font-bold text-myzinc"
            >50 plateformes de références</span
          >
          dont les plateformes exclusives comme :
        </p>
        <div class="flex items-center justify-start gap-x-5 gap-y-2 flex-wrap">
          <img
            src="assets/img/logo-partners/jinka.png"
            class="w-[75px]"
            alt=""
          />
          <img
            src="assets/img/logo-partners/gens.png"
            class="w-[75px]"
            alt=""
          />
          <img
            src="assets/img/logo-partners/green.png"
            class="w-[75px]"
            alt=""
          />
          <img
            src="assets/img/logo-partners/logic.png"
            class="w-[75px]"
            alt=""
          />
          <img
            src="assets/img/logo-partners/seloger.png"
            class="w-[75px]"
            alt=""
          />
          <img
            src="assets/img/logo-partners/lefigaro.png"
            class="w-[75px]"
            alt=""
          />
        </div>
      </div>
    </div>
    <!-- Card 2 -->
    <div
      class="rounded-4xl p-10 flex flex-col gap-5 w-full h-auto md:w-[400px] md:h-[540px] bg-myblue/5"
    >
      <div class="w-full h-[150px] flex items-center justify-center">
        <img
          src="assets/img/illustration/contact.png"
          class="object-contain h-full w-auto"
          alt="Barnabé - Diffusion Immobilière"
        />
      </div>
      <div class="">
        <p class="text-2xl text-myzinc font-semibold font-jakarta mb-5">
          Accompagnement
        </p>
        <p class="text-lg text-mygrey font-medium font-open mb-5">
          Un expert immobilier
          <span class="font-bold text-myzinc">dédié et disponible 6j/7 </span
          >par téléphone ou par mail.
        </p>
        <p class="text-lg text-mygrey font-medium font-open">
          Nous vous accompagnons pendant toute la durée de la formule si vous
          avez la moindre interrogation d’ordre technique, juridique, légal,
          opérationnel.
        </p>
      </div>
    </div>
    <!-- Card 5 -->
    <div
      class="rounded-4xl p-10 flex flex-col gap-5 w-full h-auto md:w-[400px] md:h-[540px] bg-myorange/5"
    >
      <div class="w-full h-[140px] flex items-center justify-center">
        <img
          src="assets/img/illustration/goal.png"
          class="object-contain h-full w-auto"
          alt="Barnabé - Diffusion Immobilière"
        />
      </div>
      <div class="">
        <p class="text-2xl text-myzinc font-semibold font-jakarta mb-5">
          Vente Interactive
        </p>
        <p class="text-lg text-mygrey font-medium font-open mb-5">
          Mise en ligne de votre annonce sur la
          <span class="font-bold text-myzinc"
            >plateforme de vente aux enchères</span
          >
          : une présentation garantie sous 60 jours maximum.
        </p>
        <p class="text-lg text-mygrey font-medium font-open">
          Expérience sécurisée et encadrée par des professionnels de
          l’immobilier
        </p>
      </div>
    </div>
    <!-- Card 3 -->
    <div
      class="rounded-4xl p-10 flex flex-col gap-5 w-full h-auto md:w-[400px] md:h-[540px] bg-[#F9F9F9]"
    >
      <div class="w-full h-[120px] flex items-center justify-center">
        <img
          src="assets/img/illustration/annonce.png"
          class="object-contain h-full w-auto"
          alt="Barnabé - Diffusion Immobilière"
        />
      </div>
      <div class="flex flex-col items-start justify-start gap-2">
        <p class="text-2xl text-myzinc font-semibold font-jakarta mb-5">
          Annonce optimisée
        </p>
        <p class="text-lg text-mygrey font-medium font-open">
          Estimation de votre bien et rédaction AI de votre annonce en ligne
        </p>
        <p class="text-lg text-mygrey font-medium font-open">
          Points d’intérêts à proximité de votre bien avec CityScan
        </p>
        <p class="text-lg text-mygrey font-medium font-open">
          Modifications illimitées
        </p>
        <p class="text-lg text-mygrey font-medium font-open">
          Remise en tête de liste de votre annonce et boost alerte mail
          hebdomadaire.
        </p>
      </div>
    </div>
    <!-- Card 4 -->
    <div
      class="rounded-4xl p-10 flex flex-col gap-5 w-full h-auto md:w-[400px] md:h-[540px] bg-[#F9F9F9]"
    >
      <div class="w-full h-[150px] flex items-center justify-center">
        <img
          src="assets/img/illustration/payment.png"
          class="object-contain h-full w-auto"
          alt="Barnabé - Diffusion Immobilière"
        />
      </div>
      <div class="">
        <p class="text-2xl text-myzinc font-semibold font-jakarta mb-5">
          Coûts réduits
        </p>
        <div
          class="flex flex-col items-start justify-start gap-2 text-lg text-mygrey font-medium font-open"
        >
          <div class="flex items-center justify-start gap-3">
            <img
              src="assets/img/logo/klarna.png"
              class="w-10"
              alt="klarna - paiement en 3x"
            />
            <p>Paiement en 3x avec Klarna</p>
          </div>
          <p>
            Paiement unique et immédiat, sans commission. Vous économisez + de
            15 000 € !
          </p>
          <p>Renouvellement +30 jours pour 99 €</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Les Options de Diffusion -->
<section
  id="options"
  class="px-5 md:px-20 max-w-screen-2xl m-auto font-jakarta text-myzinc mb-10 md:mb-28"
>
  <div class="mb-10">
    <p
      class="md:w-2/3 text-2xl md:text-[40px] font-jakarta font-semibold leading-snug mb-5"
    >
      Nos options de diffusion
    </p>
    <p class="text-xl md:text-2xl font-medium font-open mt-6 md:mt-10">
      Besoin d’une vente express ? Nos options font la différence !
      <span
        ><img
          src="assets/img/icon/color-rocket.png"
          class="inline w-7 ml-3"
          alt=""
        />
      </span>
    </p>
  </div>

  <div
    class="grid sm:grid-cols-[repeat(2,min-content)] lg:grid-cols-[repeat(4,min-content)] gap-5 xl:gap-10 place-items-center justify-start"
  >
    <!-- option 1 -->
    <div
      (click)="openOptionDialog(1)"
      class="rounded-xl border border-zinc-300 w-[250px] cursor-pointer transition hover:-translate-y-2 duration-300 hover:shadow-md overflow-hidden"
    >
      <div class="relative py-10 px-5 h-[140px]">
        <img
          src="assets/img/icon/arrow.png"
          class="w-5 -rotate-45 absolute top-3 right-3"
          alt=""
        />
        <p
          class="font-open text-lg font-semibold text-mygrey pr-10 lg:pr-0 xl:pr-10"
        >
          Diffusion sur Belles Demeures et Lux-Résidence
        </p>
      </div>
      <div
        class="relative flex flex-col items-center justify-center gap-2 p-5 h-[215px]"
      >
        <img
          ngSrc="assets/img/photo/lux.jpg"
          fill
          class="object-cover w-full h-full"
        />
        <div class="absolute inset-0 w-full h-wull bg-white/80"></div>
        <img
          src="assets/img/logo-partners/lux.png"
          class="z-20 w-[150px]"
          alt="Lux Résidence"
        />
        <img
          src="assets/img/logo-partners/belles.png"
          class="z-20 w-[150px]"
          alt="Belles Demeures"
        />
      </div>
    </div>
    <!-- option 2 -->
    <!-- <div
      (click)="openOptionDialog(2)"
      class="rounded-xl border border-zinc-300 w-[250px] cursor-pointer transition hover:-translate-y-2 duration-300 hover:shadow-md overflow-hidden"
    >
      <div class="relative py-10 px-5 h-[140px]">
        <img
          src="assets/img/icon/arrow.png"
          class="w-5 -rotate-45 absolute top-3 right-3"
          alt=""
        />
        <p
          class="font-open text-lg font-semibold text-mygrey pr-10 lg:pr-0 xl:pr-10"
        >
          Diffusion sur l’agrégateur Jinka
        </p>
      </div>
      <div class="relative flex items-center justify-center p-5 h-[215px]">
        <img
          ngSrc="assets/img/photo/jinka.png"
          fill
          class="object-cover w-full h-full"
        />
        <div class="absolute inset-0 w-full h-wull bg-white/80"></div>
        <img
          src="assets/img/logo-partners/jinka.png"
          class="z-20 w-[210px]"
          alt="Jinka"
        />
      </div>
    </div> -->
    <!-- option 3 -->
    <!-- <div
      (click)="openOptionDialog(3)"
      class="rounded-xl border border-zinc-300 w-[250px] cursor-pointer transition hover:-translate-y-2 duration-300 hover:shadow-md overflow-hidden"
    >
      <div class="relative py-10 px-5 h-[140px]">
        <img
          src="assets/img/icon/arrow.png"
          class="w-5 -rotate-45 absolute top-3 right-3"
          alt=""
        />
        <p
          class="font-open text-lg font-semibold text-mygrey pr-10 lg:pr-0 xl:pr-10"
        >
          Diffusion sur la plateforme Gens de confiance
        </p>
      </div>
      <div class="relative flex items-center justify-center p-5 h-[215px]">
        <img
          ngSrc="assets/img/photo/gens.png"
          fill
          class="object-cover w-full h-full"
        />
        <div class="absolute inset-0 w-full h-wull bg-white/80"></div>
        <img
          src="assets/img/logo-partners/gens.png"
          class="z-20 w-[210px]"
          alt="Jinka"
        />
      </div>
    </div> -->
    <!-- option 4 -->
    <!-- <div
      (click)="openOptionDialog(4)"
      class="rounded-xl border border-zinc-300 w-[250px] cursor-pointer transition hover:-translate-y-2 duration-300 hover:shadow-md overflow-hidden"
    >
      <div class="relative py-10 px-5 h-[140px]">
        <img
          src="assets/img/icon/arrow.png"
          class="w-5 -rotate-45 absolute top-3 right-3"
          alt=""
        />
        <p
          class="font-open text-lg font-semibold text-mygrey pr-10 lg:pr-0 xl:pr-10"
        >
          Diffusion internationale sur Green-Acres
        </p>
      </div>
      <div class="relative flex items-center justify-center p-5 h-[215px]">
        <img
          ngSrc="assets/img/photo/green.jpeg"
          fill
          class="object-cover w-full h-full"
        />
        <div class="absolute inset-0 w-full h-wull bg-white/80"></div>
        <img
          src="assets/img/logo-partners/green.png"
          class="z-20 w-[210px]"
          alt="Jinka"
        />
      </div>
    </div> -->
  </div>
</section>

<!-- Services Exclusifs -->
<section
  id="services"
  class="px-5 md:px-20 max-w-screen-2xl m-auto font-jakarta text-myzinc mb-10 md:mb-28"
>
  <div class="mb-10 md:mb-20">
    <p
      class="md:w-2/3 text-2xl md:text-[40px] font-jakarta font-semibold leading-snug"
    >
      Nos services exclusifs
    </p>
    <p class="text-xl md:text-2xl font-medium font-open mt-6 md:mt-10">
      Mettez toutes les chances de votre côté pour réussir votre vente.
    </p>
  </div>
  <!-- Reportage photo -->
  <a
    routerLink="/pack-reportage-photo-visite3D"
    class="flex flex-col lg:flex-row items-center w-[350px] lg:w-[700px] m-auto justify-center rounded-xl border border-zinc-300 cursor-pointer transition hover:-translate-y-2 duration-300 hover:shadow-md overflow-hidden"
  >
    <div class="relative h-[300px] w-[350px]">
      <img
        fill
        ngSrc="assets/img/photo/reportage.png"
        class="object-cover h-full w-full"
        alt="Reportage photos profesionnelles"
      />
    </div>
    <div
      class="relative flex flex-col items-center justify-center gap-2 p-10 h-[300px] w-[350px] font-open font-semibold text-mygrey text-xl"
    >
      <img
        src="assets/img/icon/arrow.png"
        class="w-5 -rotate-45 absolute top-3 right-3"
        alt=""
      />
      <p class="text-center">Reportage photo profesionnel</p>
      <p>+</p>
      <p>Vidéo visite 3D</p>
      <p class="italic font-light text-xs mt-5">
        Valable en Ile de France uniqement
      </p>
    </div>
  </a>
</section>

<!-- Comment ça marche -->
<section
  id="comment"
  class="px-5 md:px-20 max-w-screen-xl m-auto font-jakarta mb-10 md:mb-28"
>
  <!-- Titre -->
  <app-section-title title="Comment ça marche ?" />

  <div class="rounded-4xl border border-zinc-300 p-5 md:p-10">
    <div
      class="flex flex-col lg:flex-row gap-10 lg:gap-20 h-auto items-stretch justify-center"
    >
      <div
        class="w-full h-full lg:w-2/3 flex flex-col items-start justify-start gap-8"
      >
        <!-- etape 1 -->
        <div class="flex items-start justify-start gap-5">
          <span
            class="min-w-10 min-h-10 bg-myblue rounded-full flex items-center justify-center font-open font-semibold text-3xl text-white"
            >1</span
          >
          <div class="flex flex-col items-start justify-start gap-4 font-open">
            <p class="font-semibold text-2xl text-myzinc">
              Je dépose mon annonce
            </p>
            <p class="text-lg font-normal text-mygrey">
              Dans mon espace personnel, J’enregistre mon annonce, je
              sélectionne l’option Vente Interactive et je procède au paiement.
            </p>
          </div>
        </div>
        <!-- etape 2 -->
        <div class="flex items-start justify-start gap-5">
          <span
            class="min-w-10 min-h-10 bg-myblue rounded-full flex items-center justify-center font-open font-semibold text-3xl text-white"
            >2</span
          >
          <div class="flex flex-col items-start justify-start gap-4 font-open">
            <p class="font-semibold text-2xl text-myzinc">
              Ensemble, nous validons votre projet
            </p>
            <p class="text-lg font-normal text-mygrey">
              Je suis rappelé pour fixer les paramètres de ma vente interactive
              (prix de départ, date de la vente...) et réfléchir à la meilleure
              stratégie de vente.
            </p>
          </div>
        </div>
        <!-- etape 3 -->
        <div class="flex items-start justify-start gap-5">
          <span
            class="min-w-10 min-h-10 bg-myblue rounded-full flex items-center justify-center font-open font-semibold text-3xl text-white"
            >3</span
          >
          <div class="flex flex-col items-start justify-start gap-4 font-open">
            <p class="font-semibold text-2xl text-myzinc">
              Je réalise mes visites
            </p>
            <p class="text-lg font-normal text-mygrey">
              Je reçois les demandes de visite, les organise et je transmets le
              lien d’inscription à la vente interactive de mon bien aux
              acheteurs intéressés.
            </p>
          </div>
        </div>
        <!-- etape 4 -->
        <div class="flex items-start justify-start gap-5">
          <span
            class="min-w-10 min-h-10 bg-myblue rounded-full flex items-center justify-center font-open font-semibold text-3xl text-white"
            >4</span
          >
          <div class="flex flex-col items-start justify-start gap-4 font-open">
            <p class="font-semibold text-2xl text-myzinc">
              Accompagné, je vends en toute confiance
            </p>
            <p class="text-lg font-normal text-mygrey">
              Le jour J, laissez la Vente Interactive se dérouler en ligne, en
              toute transparence. Acceptez l’offre
              <span class="font-bold"
                >uniquement si le prix final vous satisfait</span
              >, puis finalisez la vente en toute sécurité.
            </p>
          </div>
        </div>
      </div>
      <div
        class="relative w-full h-auto self-stretch lg:w-1/3 flex flex-col gap-10 items-center justify-center bg-myblue/5 rounded-4xl p-10"
      >
        <img
          src="assets/img/illustration/task-list.png"
          class="max-w-[250px] h-auto"
          alt="Comment ça marche"
        />
        <a
          routerLink="/https://app.barnabe-immo.fr/register"
          target="_blank"
          class="text-white bg-myorange text-center rounded-full px-6 py-3 hover:bg-orange-500 transition-all transition-300"
          >Déposer mon annonce</a
        >
      </div>
    </div>
    <div class="w-full lg:w-3/4 mt-14 m-auto">
      <video
        src="assets/video/encheres-vendeur.mp4"
        class="rounded-xl aspect-video w-full"
        controls
        frameborder="0"
        loading="lazy"
        allowFullScreen
      ></video>
    </div>
  </div>
</section>

<!-- Derniers biens vendus -->
<section
  id="biens"
  class="px-5 md:px-20 max-w-screen-2xl m-auto font-open mb-20 md:mb-36"
>
  <!-- Titre -->
  <app-section-title
    title="Les derniers biens vendus avec"
    nextTitle=" "
    subtitle="Ils nous ont fait confiance"
    link="/annonces"
    button="Voir tous les biens"
  />
  <div
    class="grid lg:grid-cols-3 gap-10 place-items-center max-w-screen-xl m-auto"
  >
    <div
      class="relative h-[435px] w-[325px] bg-[url('assets/img/photo/bien1.jpeg')] bg-cover bg-center rounded-4xl overflow-hidden"
    >
      <a
        routerLink="/annonces"
        class="absolute top-5 right-5 w-10 h-10 rounded-full bg-white flex items-center justify-center"
      >
        <img src="assets/img/icon/arrow.png" class="w-5 -rotate-45" />
      </a>
      <div
        class="z-10 absolute bottom-0 w-full bg-white/70 backdrop-blur-sm h-auto text-black font-open p-5"
      >
        <div class="flex items-center justify-between mb-2">
          <p class="text-zinc-600">Appartement</p>
          <p class="text-xl font-bold">460 000 €</p>
        </div>
        <p class="font-bold text-lg">Paris</p>
        <p class="text-zinc-700">75004</p>
        <div class="flex items-center justify-start gap-5 text-zinc-700">
          <p>40 m²</p>
          <p>2 pièces</p>
        </div>
      </div>
    </div>
    <div
      class="relative h-[435px] w-[325px] bg-[url('assets/img/photo/bien2.jpg')] bg-cover bg-center rounded-4xl overflow-hidden"
    >
      <a
        routerLink="/annonces"
        class="absolute top-5 right-5 w-10 h-10 rounded-full bg-white flex items-center justify-center"
      >
        <img src="assets/img/icon/arrow.png" class="w-5 -rotate-45" />
      </a>
      <div
        class="z-10 absolute bottom-0 w-full bg-white/70 backdrop-blur-sm h-auto text-black font-open p-5"
      >
        <div class="flex items-center justify-between mb-2">
          <p class="text-zinc-600">Appartement</p>
          <p class="text-xl font-bold">380 000 €</p>
        </div>
        <p class="font-bold text-lg">Lyon</p>
        <p class="text-zinc-700">69000</p>
        <div class="flex items-center justify-start gap-5 text-zinc-700">
          <p>75 m²</p>
          <p>3 pièces</p>
        </div>
      </div>
    </div>
    <div
      class="relative h-[435px] w-[325px] bg-[url('assets/img/photo/bien3.jpg')] bg-cover bg-center rounded-4xl overflow-hidden"
    >
      <a
        routerLink="/annonces"
        class="absolute top-5 right-5 w-10 h-10 rounded-full bg-white flex items-center justify-center"
      >
        <img src="assets/img/icon/arrow.png" class="w-5 -rotate-45" />
      </a>
      <div
        class="z-10 absolute bottom-0 w-full bg-white/70 backdrop-blur-sm h-auto text-black font-open p-5"
      >
        <div class="flex items-center justify-between mb-2">
          <p class="text-zinc-600">Appartement</p>
          <p class="text-xl font-bold">520 000 €</p>
        </div>
        <p class="font-bold text-lg">Toulouse</p>
        <p class="text-zinc-700">31000</p>
        <div class="flex items-center justify-start gap-5 text-zinc-700">
          <p>120 m²</p>
          <p>4 pièces</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Les avis de nos clients -->
<section
  id="reviews"
  class="px-5 md:px-20 max-w-screen-2xl m-auto font-open mb-20 md:mb-36"
>
  <app-section-title title="Nos clients sont satisfaits !" />
  <app-reviews />
</section>

<!-- FAQ -->
<section
  id="faq"
  class="px-2 md:px-10 max-w-screen-2xl m-auto font-open mb-20 md:mb-28 text-myzinc"
>
  <app-faq [faq]="faqEncheres" />
</section>

<!-- Modal -->
<app-partners-dialog partnerVisibility="pack-encheres" />
<app-option-dialog />
