<!-- <div class="w-full h-[30px] bg-myyellow1 flex items-center justify-center">
  <p class="text-mygrey1 text-sm text-light">
    Vous êtes un professionnel de l'immobilier ? rendez-vous sur <a href="wwww.diffuze.fr" target="_blank">diffuze.fr </a>pour accèder à nos offres personnalisées !
  </p>
</div> -->
<div
  class="z-50 -mb-[10px] relative rounded-b-xl lg:sticky left-0 top-0 navbar bg-myblue text-white font-open py-3 w-full no-print text-sm overflow-hidden md:overflow-visible"
>
  <div class="flex-none lg:hidden">
    <label
      for="my-drawer-3"
      aria-label="open sidebar"
      class="btn btn-square btn-ghost"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-6 w-6 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        ></path>
      </svg>
    </label>
  </div>

  <div
    class="flex w-full items-center justify-between gap-5 md:gap-10 px-2 mx-2"
  >
    <a routerLink="/">
      <p class="text-white text-xl md:text-2xl font-quicksand font-bold">
        Barnabé<span class="text-myorange">.</span>
      </p>
    </a>

    <div class="lg:order-2 flex items-center justify-end gap-5 xl:gap-8">
      <a
        href="https://app.barnabe-immo.fr/"
        target="_blank"
        rel="external"
        class="mr-2 whitespace-nowrap bg-myorange text-center text-mygrey1 rounded-full py-2 px-3 md:px-6 md:py-3 font-medium hover:bg-orange-500 transition-all duration-300"
        >Déposer mon annonce</a
      >
      <a
        href="https://calendly.com/barnabe-immo/15min"
        target="_blank"
        rel="external"
        ><img
          src="assets/img/icon/phone-white.png"
          class="hidden md:block h-auto flex-shrink-0 w-[25px] cursor-pointer"
          alt=""
      /></a>
      <a href="https://app.barnabe-immo.fr/" target="_blank" rel="external"
        ><img
          src="assets/img/icon/user-white.png"
          class="hidden md:block h-auto flex-shrink-0 w-[25px] cursor-pointer"
          alt=""
      /></a>
    </div>

    <div
      class="hidden lg:flex lg:flex-1 w-full items-center justify-start gap-10"
    >
      <!-- <ul class="menu menu-horizontal font-semibold"> -->
      <ul
        class="flex items-center justify-start gap-12 font-semibold cursor-pointer"
      >
        <!-- Navbar menu content here -->

        <!-- Dropdown -->
        <div class="dropdown dropdown-hover">
          <div tabindex="0" role="button" class="m-1 flex items-center gap-3">
            <img src="assets/img/emoji/nav-offer.png" class="w-[18px]" />
            Nos Services
          </div>
          <ul
            tabindex="0"
            class="dropdown-content bg-myblue rounded-box z-1 w-52 p-2 pt-6 shadow-sm"
          >
            <li class="hover:bg-blue-900 w-full rounded-lg px-4 py-2">
              <a routerLink="/pack-visibilite-coaching" class=""
                >Pack Visibilité <br />& Coaching</a
              >
            </li>
            <li class="hover:bg-blue-900 w-full rounded-lg px-4 py-2">
              <a routerLink="/pack-visibilite-vente-interactive" class=""
                >Pack Visibilité <br />& Vente Interactive</a
              >
            </li>
            <li class="hover:bg-blue-900 w-full rounded-lg px-4 py-2">
              <a routerLink="/pack-reportage-photo-visite3D" class=""
                >Reportage Photo <br />& Visite 3D</a
              >
            </li>
          </ul>
        </div>

        <li routerLink="/guide">
          <div class="flex items-center gap-3">
            <img src="assets/img/emoji/nav-blog.png" class="w-[18px]" /><a
              >Guide du vendeur</a
            >
          </div>
        </li>

        <!-- Dropdown -->
        <div class="dropdown dropdown-hover">
          <div tabindex="0" role="button" class="m-1 flex items-center gap-3">
            <img src="assets/img/emoji/nav-tools.png" class="w-[18px]" />
            Outils en ligne
          </div>
          <ul
            tabindex="0"
            class="dropdown-content bg-myblue rounded-box z-1 w-52 p-2 pt-6 shadow-sm"
          >
            <li class="hover:bg-blue-900 w-full rounded-lg px-4 py-2">
              <a routerLink="/estimation-immobiliere-gratuite"
                >Estimation de votre bien</a
              >
            </li>
            <li class="hover:bg-blue-900 w-full rounded-lg px-4 py-2">
              <a routerLink="/redaction-annonce-immobiliere"
                >Rédaction de votre annonce</a
              >
            </li>
          </ul>
        </div>

        <li routerLink="/annonces">
          <div class="flex items-center gap-3">
            <img src="assets/img/emoji/nav-property.png" class="w-[19px]" /><a
              >Annonces</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
