<!-- Hero -->
<section
  id="hero"
  class="px-5 relative h-[500px] flex items-center justify-center"
>
  <img
    ngSrc="assets/img/photo/blog3.jpg"
    class="object-cover w-full h-full"
    fill
    priority
    alt="Barbabé - Coaching Immobilier"
  />
  <div
    class="opacity-85 bg-gradient-to-b from-myblue to-[#010644] absolute inset-0 w-full h-full"
  ></div>

  <div
    class="z-10 absolute top-8 left-8 md:top-14 md:left-14 flex items-center justify-center gap-2 transition duration-300 text-white border border-white px-6 py-3 rounded-full"
  >
    <img src="assets/img/icon/arrow-white.png" class="w-4 rotate-180" alt="" />
    <a [routerLink]="['/blog']" class="whitespace-nowrap"
      >Retour aux catégories</a
    >
  </div>

  <div
    *ngIf="isLoaded"
    class="relative z-20 flex flex-col items-center justify-center text-white p-10 md:py-20 max-w-3xl"
  >
    <!-- <div
      class="bg-white/80 absolute inset-0 w-full h-full rounded-3xl border border-white"
    ></div> -->

    <h1
      class="z-20 text-4xl md:text-6xl font-paytone text-center leading-relaxed mb-6"
    >
      {{ type.type }}
    </h1>
    <p class="md:w-3/4 z-20 text-center font-alternates text-lg">
      {{ getSubtitle(type.id) }}
    </p>
  </div>
</section>

<!-- Hero -->
<!-- <section
  id="hero"
  class="px-5 relative h-[calc(100vh-50px)] md:max-h-[500px] flex items-center justify-center"
>
  <img
    ngSrc="assets/img/photo/blog3.jpg"
    class="object-cover w-full h-full"
    fill
    priority
    alt="Barbabé - Coaching Immobilier"
  />
  <div class="bg-myblue/70 absolute inset-0 w-full h-full"></div>

  <div
    class="z-10 absolute top-8 left-8 md:top-14 md:left-14 flex items-center justify-center gap-2 transition duration-300 text-white border border-white px-6 py-3 rounded-full"
  >
    <img src="assets/img/icon/arrow-white.png" class="w-4 rotate-180" alt="" />
    <a [routerLink]="['/blog']" class="whitespace-nowrap"
      >Retour aux catégories</a
    >
  </div>

  <div
    class="relative z-20 flex flex-col items-center justify-center text-white p-10 md:py-20 max-w-3xl"
  >
    <h1 class="z-20 text-4xl md:text-6xl font-paytone text-center mb-6">
      <span className="block leading-relaxed h-7 whitespace-nowrap">
        {{ type.type }}
      </span>
    </h1>
    <p class="z-20 md:w-3/4 text-center font-alternates text-lg">
      {{ getSubtitle(type.id) }}
    </p>
  </div>
</section> -->

<!-- First article -->
<section class="px-5 py-10 md:p-20 w-full bg-myblue/5">
  <div
    class="font-open text-myzinc flex flex-col gap-10 md:gap-16 items-center justify-center max-w-screen-2xl m-auto"
  >
    <app-article-card
      class="md:hidden"
      [article]="articles[0]"
      [translate]="true"
      [shadow]="true"
    ></app-article-card>

    <div
      *ngIf="articles[0]"
      class="hidden md:block z-10 bg-white relative w-3/4 max-w-[800px] h-[400px] lg:h-[450px] rounded-2xl shadow-md  hover:-translate-y-[3px] duration-300 transition hover:shadow-lg"
    >
      <img
        [src]="env.publicURL + articles[0].article_preview"
        class="absolute bottom-[175px] md:bottom-0 w-full h-auto md:h-full object-cover rounded-t-2xl md:rounded-2xl"
      />
      <div
        class="absolute bottom-0 w-full h-[175px] md:h-[130px] bg-myorange/80 backdrop-blur-lg rounded-b-2xl"
      ></div>
      <div
        *ngIf="isLoaded"
        class="px-8 absolute bottom-0 w-full h-[175px] md:h-[130px] flex flex-col gap-2 items-start justify-center rounded-2xl"
      >
        <a
          [routerLink]="['/blog', articles[0].url]"
          class="cursor-pointer font-bold text:lg md:text-xl text-white"
          >{{ articles[0].article_title }}</a
        >
        <div class="flex items-center gap-5 md:gap-10 text-white">
          <div class="flex items-center gap-3">
            <div
              class="h-10 w-10 p-2 flex-shrink-0 flex items-center justify-center rounded-full bg-myorange"
            >
              <img
                src="assets/img/illustration/victor.png"
                class="object-contain"
                alt=""
              />
            </div>
            <p class="text-sm">Victor, expert en immobilier</p>
          </div>
          <div class="flex items-center text-sm justify-start gap-2">
            <img src="assets/img/icon/calender.png" class="h-5" alt="" />
            {{ articles[0].update_date | date : "longDate" : "" : "fr-FR" }}
            <p>•</p>
            <p>{{ articles[0].reading_time }} min</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Other articles -->
    <div
      class="font-open text-myzinc flex items-center justify-center max-w-screen-2xl m-auto"
    >
      <div
        class="grid md:grid-cols-2 lg:grid-cols-3 gap-10 place-items-center max-w-screen-xl m-auto"
      >
        <app-article-card
          *ngFor="let article of articles | slice : 1"
          [article]="article"
          bg="blue"
          [shadow]="true"
          [translate]="true"
        ></app-article-card>
      </div>
    </div>
  </div>
</section>
